* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}


.navbar {
    padding: 20px 0;
    background-color: white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}